@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    
}


<ejs-chart id="chart" title="Sales data">
    <e-chart-primaryxaxis valueType=Category 
                          title="Period"></e-chart-primaryxaxis>
    <e-chart-primaryyaxis title="Quantity"></e-chart-primaryyaxis>
    <e-chart-legendsettings visible=true ></e-chart-legendsettings>
    <e-chart-tooltipsettings enable=true></e-chart-tooltipsettings>
    <e-series-collection>
        <e-series typeof="Line" dataSource="@Model.SalesData"
                  name="OnLine"
                  xName="Period"
                  yName="OnlineSale">
                  <e-series-marker visible=true>
                      <e-series-datalabel visible=false></e-series-datalabel>
                  </e-series-marker>
        </e-series>
        <e-series typeof="Line" dataSource="@Model.SalesData"
                  name="Retail"
                  xName="Period"
                  yName="RetailSale">
            <e-series-marker visible=true>
                <e-series-datalabel visible=false></e-series-datalabel>
            </e-series-marker>
        </e-series>
    </e-series-collection>
</ejs-chart>


<style>
    .center-buttons {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
</style>

<div class="center-buttons">
    <form method="get" action="/PieChart">
        <button type="submit" class="btn btn-success">Chuyển sang PieChart</button>
    </form>

    <form method="get" action="/CoreChart">
        <button type="submit" class="btn btn-success">Chuyển sang CoreChart</button>
    </form>

    <form method="get" action="/DashBoard">
        <button type="submit" class="btn btn-success">Bảng doanh thu</button>
    </form>
</div>
