@page
@model ChartControls.Pages.PieChartModel
@{
}

<h3>Online Sale</h3>

<ejs-accumulationchart id="chart" title="Pie Chart Sale">
    <e-accumulationchart-tooltipsettings enable=true></e-accumulationchart-tooltipsettings>
    <e-accumulation-series-collection>
        <e-accumulation-series type="Pie"
                               dataSource="@Model.SalesData"
                               xName="Period"
                               yName="OnlineSale">
            <e-accumulationseries-datalabel visible=true></e-accumulationseries-datalabel>
        </e-accumulation-series>

            <e-accumulation-data-labels visible=true></e-accumulation-data-labels>
    </e-accumulation-series-collection>
</ejs-accumulationchart>

<form method="get" action="/CoreChart">
    <button type="submit" class="btn btn-success">Chuyển sang CoreChart</button>
</form>
<br />

<form method="get" action="/LineChart">
    <button type="submit" class="btn btn-success">Chuyển sang LineChart</button>
</form>


